@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes custom-animation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.animate-custom {
    animation: custom-animation 0.5s ease-in-out;
}

.my-container {
    @apply px-2 md:max-w-screen-md md:px-5 lg:max-w-screen-lg mx-auto
}


.active-link-signin {
    @apply btn btn-sm btn-primary rounded-full w-full
}
.nav:hover {
    @apply max-h-min
  }
  
  .nav-item {
    @apply px-0 md:px-2 relative
  }
  
  .nav-item:hover {
    @apply text-white
  }

.nav-active-link::before {
    @apply content-[''] w-full absolute -bottom-[16px] left-0 right-0  h-[2px] bg-white
  }


.tab {
    @apply text-base font-semibold h-10 hover:bg-violet-800 hover:text-white
}

.label-text {
    @apply text-base
}
/* Dashboard */
.menu-item {
    @apply p-4 text-base-content space-y-1
  }
  
  .menu-item li a {
    @apply flex items-center gap-2 hover:bg-violet-700 hover:text-white rounded-md py-2 px-3
  }
  
  .menu-item-active {
    @apply bg-violet-700 text-white
  }